
*.meta
*.csproj
*.asset
*.log
*.bin
*.txt
*.sln
*.userprefs
*.stamp
*.dll
*.info
*.mdb
*.db
*.prefs
*.dwlt

Simon/Library/
Simon/obj/
Simon/ProjectSettings/
Simon/Temp/

grid-system/fileHandler/test

grid-system/grid
